body {
  font-family: sans-serif;
}
h1 {
  padding-bottom: 15px;
}
.button {
  display: block;
  padding: 20px;
}
.operator {
  text-align: center;
  padding: 30px;
  font-size: 20px;
}
.container {
  display: block;
  margin: auto;
  padding: 50px;
}
.output {
  display: block;
  padding: 30px;
  font-size: 16px;
  font-weight: bold;
}
